@import "wave.css";

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

header {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

section {
  padding: 10rem;
}

/* padding: 10rem */

.header-content {
  max-height: 60vh;
  padding: 10rem;
}

.exp {
  display: grid;
  grid-template-rows: 1fr 6fr 2fr;
  grid-gap: 5rem;
}

.exp > h2 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.grid-6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4fr 2fr;
  grid-gap: 10rem;
}

#tokopedia {
  background-color: #03ac0e;
}

#ecomindo {
  background-color: rgb(27, 84, 220);
}

.card {
  text-align: justify;
  display: grid;
}

.card > img {
  width: 100%;
  object-fit: contain;
  margin-bottom: 5rem;
}

.grid-6 > .card:nth-child(n + 4) {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
